/* @import url("https://fonts.googleapis.com/css2?family=roboto:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-extralight {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.arial-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-semibold {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-extrabold {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-extralight-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-semibold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-extrabold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.inter-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
}


html {
  background-color: black;
}

body {
  background-color: black;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --nav-item-color: rgb(204, 204, 204);
  --nav-item-color-light: #A3A3A3;
  --light-gray: #767676;
  --light-yellow: #FFC44D;
}
html {
  scroll-behavior: smooth;
}

.text-muted {
  color: var(--nav-item-color-light);
}
.text-light-gray {
  color: var(--nav-item-color);
}
header {
  backdrop-filter: blur(5px);
  background-color: rgba(22, 22, 22, 0.7);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  opacity: 1;
  font-family: inherit;
  color: var(--nav-item-color);
}
.nav-list ul {
  /* backdrop-filter: blur(10px);
  background-color: rgba(23, 23, 23, 0.9);
  border-radius: 50px;
  border: 1px solid rgb(38, 38, 38); */
  color: inherit;
}
.nav-list li a {
  color: var(--nav-item-color-light);
}
.nav-list li a:hover {
  color: var(--light-yellow);
}

header p {
  color: var(--nav-item-color-light);
}

.btn.primary-green {
  border-radius: 8px;
  border: 1px solid rgba(255, 235, 138, 0.50);
  background: linear-gradient(180deg, #FFE668 0%, #FFA43C 100%);
  box-shadow: 0px -4px 4px 0px rgba(255, 244, 162, 0.75) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transition: background 250ms, transform 250ms ease-in-out,
    box-shadow 250ms ease-out;
}

.btn.primary-green:hover {
  border-radius: 8px;
  border: 1px solid rgba(255, 235, 138, 0.50);
  background: linear-gradient(180deg, #FFA43C 0%, #FFE668 100%);
  box-shadow: 0px -4px 4px 0px rgba(255, 244, 162, 0.75) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.01);
}

.tag-card {
  border: 1px solid #1f1f1f;
  background: linear-gradient(180deg, #161616 0%, rgb(13, 13, 13) 100%);
  border-radius: 30px;
  min-height: 350px;
  position: relative;
}

.tag-img {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: +1;
  max-width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

.tag-card-footer {
  background: linear-gradient(180deg, #e76f51 0%, rgb(209, 73, 91) 100%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 70px;
  width: 100%;
}

.filter {
  background: url("/img/asterisk_circle.svg") 10px center/30px no-repeat;
  border: 1px solid #262626;
  background-color: #161616;
  border-radius: 14px;
}

.work-card {
  /* border: 1px solid #262626;
  background-color: #0A1B19;
  border-radius: 24px;
  height: 100%;
  position: relative;
  min-height: 350px; */
}

section.variant-green {
  background: linear-gradient(180deg, #85c1a3 0%, rgb(42, 157, 143) 100%);
}
section.variant-pink {
  background: linear-gradient(180deg, #e76f51 0%, rgb(209, 73, 91) 100%);
}

.faq.active {
  background-color: #1C262E;
  border-radius: 16px;
}

.border-radius-primary {
  border-radius: 24px;
}

.form-control {
  border: 1px solid rgba(209, 209, 209, 0.5);
  background: rgb(38, 38, 38);
}

.form-submit {
  background-color: rgb(65, 177, 160);
}

.trigger-button {
  position: relative;
  display: inline-block;
  width: 250px;
  min-width: 250px;
  height: 100%;
}
.trigger-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.trigger-button:hover {
  background-color: rgba(0, 0, 0, 1);
}

.full-swiper .swiper-slide {
  position: relative;
}
.swiper-slide .swiper-caption {
  width: 100%;
  height: 100%;
  display: inline-block;
  top: 0%;
  left: 0%;
}
/* .swiper-pagination {
  top: 105% !important;
  position: static;
} */

span.swiper-pagination-bullet {
  color: transparent;
  margin: 0 0.2rem;
  position: relative;
  background: linear-gradient(180deg, #85c1a3 0%, rgb(42, 157, 143) 100%);
  text-align: center;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;
  opacity: 0.5;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: linear-gradient(180deg, #85c1a3 0%, rgb(42, 157, 143) 100%);
  opacity: 1;
}

body {
  color: var(--foreground);
  background: black;
  font-family: Arial, Helvetica, sans-serif;
}

@media all and (min-width: 768px) {
  .swiper-slide .swiper-caption {
    width: 50%;
    height: 100%;
    display: inline-block;
    top: 0%;
    left: 0%;
  }
}
@media all and (max-width: 768px) {
  .tag-card-wrapper {
    flex: 1 0 50%;
  }
  .tag-card {
    min-height: 250px;
  }

  .tag-img {
    max-width: 120px;
  }
  .work-card {
    min-height: auto;
  }
}


/* Ac club common css start */
.bgHeader {
  border-bottom: 1px solid #F3D27B;
  background: radial-gradient(71.41% 50% at 50% 50%, #131B22 0%, #101318 100%);
}
.text-theme {
  color: #A3A3A3;
}
.text-theme-yellow {
  color: #FFC44D;
}
.text-theme-yellow:hover {
  color: #FFA500;
}
section.variant-theme {
  background: radial-gradient(71.41% 50% at 50% 50%, #131B22 0%, #101318 100%);
}
.bgTheme {
  background: #0F1318;
}

.gredientBg {
  background: var(--background-Gradient, radial-gradient(71.41% 50% at 50% 50%, #131B22 0%, #101318 100%));
  box-shadow: 0px 0px 84px 0px rgba(114, 154, 182, 0.20) inset;
}
.textGredient {
  background: var(--White-Linear, linear-gradient(180deg, #D9D9D9 0%, #B2B2B2 87%, #DEDEDE 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bgFaq {
  background: #1C262E;
}
.footerBg {
  border-top: 1px solid #384E5C;
  background: #11171D;
}
.themeGredient {
  background: radial-gradient(71.41% 50% at 50% 50%, #131B22 0%, #101318 100%);
}
.footerBg {
  border-top: 1px solid #384E5C;
  background: #11171D;
}
.footerNav a {
  border-right: 1px solid rgba(163, 163, 163, 0.50);
}
.footerNav a:last-child {
  border: none;
}
.footerBg a:hover {
  color: var(--light-yellow);
}

.primier-card {
  min-width: 200px;
  margin: 0 auto;
  padding: 10px;
  min-height: 240px;
  position: relative;
}
.primierIcon {
  position: relative;
  top: -30px;
}
.primier-desc {
  position: relative;
  top: -10px;
}

/* Ac club common css end */